{{> header }}

<div class="page-body">

  <h1>Beer Name</h1>

  <div class="image">
    <img src="">
  </div>

  <div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
      atque, distinctio earum exercitationem
      incidunt ipsum maiores molestiae necessitatibus, nemo nihil nisi omnis
      porro rem saepe soluta tempora tenetur.
      Veniam, vitae?</p>
  </div>

</div>

<div class="page-footer"></div>
