<div class="logo">
  Wegmans
</div>

<div class="main-menu">

  <div class="button" id="btn-match-maker">
    <span class="btn-label">Beer Match Maker</span>
  </div>

  <div class="button" id="btn-featured">
    <span class="btn-label">Featured Beers</span>
  </div>

  <div class="button" id="btn-new-arrivals">
    <span class="btn-label">New Arrivals</span>
  </div>

  <div class="button" id="btn-about-us">
    <span class="btn-label">About Us</span>
  </div>

</div>
