<div class="header">

  <div class="home">
    Home
  </div>

  <div class="heading" id="heading-match-maker">
    Beer Matchmaker
  </div>

</div>

<div class="body">

  Controls go here

</div>

<div class="footer">

  <div class="button">
    Match Me!
  </div>

</div>
