<div class="page-header">

  <div class="btn-home">
    <span class="text">Home</span>
  </div>

  <div class="heading" id="heading-{{ title-id }}">
    <span class="text">{{ title }}</span>
  </div>

</div>
