@import "_variables";

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.inner-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("../assets/images/bg.jpg");
  background-size: cover;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;

@import "pages/_page";
}

#page-home {
@import "pages/_home";
}

#page-featured {
@import "pages/_featured-beers";
}
